@model HomeVM

@{
    Layout = "_HomeLayout";
}

<main>
    <section id="services">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Contents)
                {
                    <div class="col-md-3 col-12">
                        <div class="service">
                            <div class="back">
                                <i class="fas @item.Icon"></i>
                            </div>
                            <div class="content">
                                <h4>@item.Title</h4>
                                <p>@item.Description</p>
                            </div>
                        </div>


                    </div>
                }
              
            </div>
        </div>
    </section>
    <section id="about-us">
        <div class="container">
            <div class="about-text">
                <h2>ABOUT US</h2>
                <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                <div class="linediv"></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-img">
                        <div class="over-div"></div>
                        <img src="~/assets/images/@Model.Abouts.FirstOrDefault(m=>m.SectionName=="Home")?.Image" alt="About Image">
                        <a href="https://www.youtube.com/watch?v=3f9CAMoj3Ec"><i class="fas fa-play"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-desc">
                        <h4>WELCOME TO EDULEARN</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div>
                            <ul class="accordion" data-accordion="open">
                                @foreach (var about in Model.Abouts)
                                {
                                    @if (about.SectionName == "History")
                                    {
                                        <li>
                                            <div class="accordion-header">Our History</div>
                                            <div class="accordion-body">
                                                <div>@about.Description</div>
                                            </div>
                                        </li>
                                    }
                                    @if (about.SectionName == "Mission")
                                    {
                                        @if (Model.Abouts.Count(a => a.SectionName == "Mission") > 1)
                                        {
                                            @if (Model.Abouts.IndexOf(about) == Model.Abouts.FindIndex(a => a.SectionName == "Mission"))
                                            {
                                                <li>
                                                    <div class="accordion-header">Our Mission</div>
                                                    <div class="accordion-body">
                                                        <div>@about.Description</div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li>
                                                <div class="accordion-header">Our Mission</div>
                                                <div class="accordion-body">
                                                    <div>@about.Description</div>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @if (about.SectionName == "Vision")
                                    {
                                        <li>
                                            <div class="accordion-header">Our Vision</div>
                                            <div class="accordion-body">
                                                <div>@about.Description</div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="popular-courses">
        <div class="container">
            <div class="sec-title">
                <h2>OUR POPULAR COURSES</h2>
                <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                <div class="linediv"></div>
            </div>
            <div>
                <div class="owl-carousel owl-theme second-slider">
                    @foreach (var item in Model.Courses)
                    {
                        <div class="item">
                            <div class="general">
                                <div class="item-header">
                                    <img src="~/assets/images/@item.Image">
                                    <a href="">
                                        <i>$@item.Price</i>
                                    </a>
                                    <div class="over-div"><i class="fas fa-link"></i></div>
                                </div>
                                <div class="item-body">
                                    <a class="science-a" href="">@item.CourseCategory.Name</a>
                                    <h4><a href=" ">@item.Name</a></h4>
                                    <div class="review-wrap">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <span>22 Reviews</span>
                                    </div>
                                    <div class="course-dec mt-3">
                                        <p>
                                            @item.Description
                                        </p>
                                    </div>
                                </div>
                                <div class="item-footer">
                                    <div class="course-time">
                                        <span class="label">Course time</span>
                                        <span class="rating">@item.Duration Years</span>
                                    </div>
                                    <div class="course-student">
                                        <span class="label">Course Student</span>
                                        <span class="rating">@item.Student</span>
                                    </div>
                                    <div class="course-duration">
                                        <span class="label">Class Duration</span>
                                        <span class="rating">@item.StartTime-@item.EndTime</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
            </div>
        </div>
    </section>
    <section id="acheivements">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="counter-div">
                        <h2 class="counter-name">ACHEIVEMENTS</h2>
                    </div>
                    <div class="counter-text">
                        <p>
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                            spring which I enjoy with my whole heart like mine.
                        </p>
                    </div>
                    <div class="counter-img">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/counter/1.jpg"
                             alt="">
                    </div>
                </div>
                <div class="col-md-6 mt">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="counter-list">
                                <h2 class="number-count">
                                    <span class="counter-value" data-count="60">
                                        0
                                    </span>
                                </h2>
                                <h4 class="text-count">Teacher</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="counter-list">
                                <h2 class="number-count">
                                    <span class="counter-value" data-count="40">
                                        0
                                    </span>
                                </h2>
                                <h4 class="text-count">COURSES</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="counter-list">
                                <h2 class="number-count">
                                    <span class="counter-value" data-count="900">
                                        0
                                    </span>
                                </h2>
                                <h4 class="text-count">STUDENTS</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="counter-list">
                                <h2 class="number-count">
                                    <span class="counter-value" data-count="3675">
                                        0
                                    </span>
                                </h2>
                                <h4 class="text-count">SATISFIED CLIENT</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
  
    <section id="experienced">
        <section id="popular-courses">
            <div class="container">
                <div class="sec-title">
                    <h2>OUR POPULAR COURSES</h2>
                    <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                    <div class="linediv"></div>
                </div>
                <div>
                    <div class="owl-carousel owl-theme second-slider">
                      @foreach (var item in Model.Teachers)
                        {
                            <div class="item">
                                <div class="general">
                                    <div class="item-header">
                                        <img src="~/assets/images/@item.Image">
                                        <div class="text-teamimg">
                                            <h3 class="team-name">@item.FullName</h3>
                                            <span class="span-name">@item.Courses.Select(m=>m.Name).FirstOrDefault()</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="line-div text-center">
                                    <div class="professor">
                                        <div class="centry">
                                            <h4>@item.FullName</h4>
                                            <p>@item.Courses.Select(m => m.Name).FirstOrDefault()</p>
                                            <span></span>
                                            <p class="pelem">Entrusted with planning, implementation and evaluation.</p>
                                            <div class="line-icons">
                                                <a class="icons-line" href=""><i class="fab fa-facebook-f"></i></a>
                                                <a class="icons-line" href=""><i class="fab fa-google-plus-g"></i></a>
                                                <a class="icons-line" href=""><i class="fab fa-twitter"></i></a>
                                                <a class="icons-line" href=""><i class="fab fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                       
                    </div>
                </div>
            </div>
            </div>
        </section>
    </section>
    <section id="web-design">
        <div class="container">
            <div class="development">
                <div class="sec-title">
                    <div class="imp-div">
                        <h2>WEB DESIGN & DEVLOPMENT COURSE</h2>
                        <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                        <div class="linediv"></div>
                    </div>

                </div>
                <a class="join-now" href=" ">Join Now</a>
            </div>
         </div>
    </section>
    <section id="lastest-news">
        <div class="container">
            <div class="our-lastest">
                <h2>OUR LASTEST NEWS</h2>
                <p>Fusce sem dolor, interdum in efficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                <div class="linediv"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="other-college">
                        <div class="picture-clge">
                            <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/blog/1.jpg"
                                 alt="">
                        </div>
                        <div class="date-clge">
                            <i class="far fa-calendar-check"></i>
                            <span>June 28, 2017</span>
                        </div>
                        <div class="name-clge">
                            <a href=" ">Those Other College Expenses You Aren't Thinking About</a>
                        </div>
                        <div class="about-clge">
                            <p>
                                Blandit rutrum, erat et egestas ultricies, dolor tortor egestas enim, quiste rhoncus
                                sem the purus eu sapien curabitur.Lorem Ipsum is therefore always free from
                                repetitionetc.
                            </p>
                        </div>
                        <div class="btn-clge">
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-block">
                        <div class="row">
                            <div class="col-12">
                                <div class="news-list d-flex">
                                    <div class="list-img col-md-4">
                                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/blog/2.jpg"
                                             alt="">
                                    </div>
                                    <div class="list-about col-md-8">
                                        <h5 class="list-name">
                                            <a href=" "> While the lovely valley team work</a>
                                        </h5>
                                        <div class="list-date">
                                            <i class="far fa-calendar-check"></i>
                                            <span>June 28, 2017</span>
                                        </div>
                                        <div class="list-about">
                                            <p>
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                officia deserunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="news-list d-flex">
                                    <div class="list-img col-md-4">
                                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/blog/3.jpg"
                                             alt="">
                                    </div>
                                    <div class="list-about col-md-8">
                                        <h5 class="list-name">
                                            <a href=" "> While the lovely valley team work</a>
                                        </h5>
                                        <div class="list-date">
                                            <i class="far fa-calendar-check"></i>
                                            <span>June 28, 2017</span>
                                        </div>
                                        <div class="list-about">
                                            <p>
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                officia deserunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="news-list d-flex">
                                    <div class="list-img col-md-4">
                                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/blog/4.jpg"
                                             alt="">
                                    </div>
                                    <div class="list-about col-md-8">
                                        <h5 class="list-name">
                                            <a href=" "> While the lovely valley team work</a>
                                        </h5>
                                        <div class="list-date">
                                            <i class="far fa-calendar-check"></i>
                                            <span>June 28, 2017</span>
                                        </div>
                                        <div class="list-about">
                                            <p>
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                officia deserunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="product">
        <div class="container">
            <div class="section-name">
                <h2> Our Products</h2>
                <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                <div class="linediv"></div>
            </div>


            <div class="owl-carousel owl-theme third-slider">

             @foreach (var item in Model.Products.Take(3))
                {
                    <div class="general">
                        <div class="item-header">
                            <img src="~/assets/images/@item.ProductImages.FirstOrDefault().Name">
                        </div>
                        <h4><a href=" ">@item.Name</a></h4>
                        <span>From:$@item.Price</span>
                     

                    </div>
                }



            </div>
            <div class="view">
                <a asp-controller="Product" asp-action="Index">View All</a>
            </div>
        </div>
    </section>
    <section id="what-people">
        <div class="section-name">
            <h2>OUR POPULAR COURSES</h2>
            <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
            <div class="linediv"></div>
        </div>
        <div class="container">
            <div class="owl-carousel owl-theme four-slider">


                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/1.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/2.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Aliana D'suaza</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/3.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/4.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/5.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="partner">
        <div class="container">
            <div class="owl-carousel five-slider">
                <div class="item1">
                    <img src="~/assets/images/1.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/2.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/3.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/4.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/5.png"
                         alt="">
                </div>
            </div>
        </div>
    </section>
</main>
