@model BaseHeaderVM
<div class="apply">
    <div class="container">
        <div class="intro">
            <div class="d-flex ml-3 welcome-head">
                <i class="fas fa-university iconuni"></i>
                <p class="element-p">Welcome to Edulearn</p>
            </div>
            <div class="d-flex icons-head">
                <div class="d-flex icons">
                    <i class="fab fa-facebook-f fb"></i>
                    <i class="fab fa-twitter tw"></i>
                    <i class="fab fa-google-plus-g gg"></i>
                    <i class="fab fa-linkedin-in link"></i>
                </div>
                <form  asp-controller="Account" asp-action="RegisterTeacher">
                    <button type="submit" class="button-27 mx-5" role="button">Become a Teacher</button>
                </form>
               

            </div>
        </div>
    </div>
</div>
<div class="edulearn">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex align-items-center">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
                    {
                      
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="mx-3">
                                <i class="fas fa-cogs"></i> Admin Dashboard
                            </a>
                            <p class="domain">@User.Identity.Name</p>
                        <form   asp-controller="Account" asp-action="Logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        <button class="px-1 btn btn-danger btn-logout" type="submit">Log Out</button>
                        </form>

                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                    {
                        <a  asp-controller="Account" asp-action="SignIn" class="mx-3">
                            <i class="fas fa-envelope-open-text mail"></i>
                        </a>
                        <div>
                            <span class="elemspan">Mail Us</span>
                            <p class="domain">@User.Identity.Name</p>
                            <form asp-controller="Account" asp-action="Logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <button class="px-1 btn btn-danger btn-logout" type="submit">Log Out</button>
                            </form>
                        </div>                      
                    }
                    else if(!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="SignUp" class="mx-3">
                            <i class="fas fa-envelope-open-text mail"></i>
                        </a>
                        <div>
                            <span class="elemspan">Mail Us</span>
                            <p class="domain">@Model.Settings["Email1"]</p>
                        </div>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Teacher"))
                    {
                        <a  asp-controller="Teacher" asp-action="Profile" class="mx-3">
                            <i class="fa-regular fa-id-card"></i> My Profile
                        </a>
                        <p class="domain">@User.Identity.Name</p>
                        <form asp-controller="Account" asp-action="Logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <button class="px-1 btn btn-danger btn-logout" type="submit">Log Out</button>
                        </form>
                    }

                </div>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-start justify-content-center">
                <img src="~/assets/images/@Model.Settings["Logo"]" alt="Logo">
            </div>
            <div class="col-4">
                <div class="d-flex align-items-center phone justify-content-end">
                    <i class="fas fa-phone-alt icon-volume"></i>
                    <div>
                        <p class="d-block pelement">Call Us</p>
                        <p class="number">@Model.Settings["Phone1"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

