@model AboutVM
@{
    ViewData["Title"] = "Index";
   
    
}
@section Styles {
    <link rel="stylesheet" href="~/assets/css/about.css" />
}
<main>
    @foreach (var item in Model.Abouts)
    {
        <section id="@item.SectionName.ToLower()">
            <div class="container">
                <div class="row">
                    @if (item.SectionName == "History")
                    {
                        <div class="col-lg-6 col-md-12">
                            <img src="~/assets/images/@item.Image" alt="">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="about-box">
                              
                                <div class="title-box">
                                      <h1><strong>@item.SectionName.ToUpper()</strong></h1>
                                </div>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                    else if (item.SectionName == "Mission" )
                    {
                        <div class="col-lg-6 col-md-12">
                            <div class="mission-box">
                                <div class="title-box">
                                      <h1><strong>@item.SectionName.ToUpper()</strong></h1>
                                </div>
                                <p>@item.Description</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <img src="~/assets/images/@item.Image" alt="">
                              
                            </div>
                        </div>
                     
                    }
                    else if (item.SectionName == "Vision")
                    {
                        <div class="col-lg-6 col-md-12">
                            <div class="box">
                                <img src="~/assets/images/@item.Image" alt="">
                                <i class="fa-youtube rs-animation-fade youtube-video" href="A Day in My Life at a German University"></i>
                            </div>
                        </div>
                        <div class="video-box">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="about-box">
                                <div class="title-box">
                                      <h1><strong>@item.SectionName.ToUpper()</strong></h1>
                                </div>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
  
    <section id="web-design">
        <div class="container">
            <div class="development">
                <div class="sec-title">
                    <div class="imp-div">
                        <h2>WEB DESIGN & DEVELOPMENT COURSE</h2>
                        <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
                        <div class="linediv"></div>
                    </div>
                </div>
                <a class="join-now" href="#">Join Now</a>
            </div>
        </div>
    </section>



    <section id="what-people">
        <div class="section-name">
            <h2>WHAT PEOPLE SAYS</h2>
            <p>Fusce sem dolor, interdum in fficitur at, faucibus nec lorem. Sed nec molestie justo.</p>
            <div class="linediv"></div>
        </div>
        <div class="container">
            <div class="owl-carousel owl-theme four-slider">


                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/1.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/2.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Aliana D'suaza</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/3.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/4.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>

                <div class="item-header">
                    <div class="img-person">
                        <img src="https://keenitsolutions.com/products/html/edulearn/edulearn-demo/images/testimonial/5.jpg"
                             alt="">
                    </div>
                    <div class="item-person">
                        <div class="about-person">
                            <span class="ff-left"><i class="fas fa-quote-left"></i></span>
                            <h4>Luise Henrikes</h4>
                            <p>
                                Etiam non elit nec augue tempor gravida et sed velit. Aliquam tempus eget lorem ut
                                malesuada. Phasellus dictum est sed libero posuere dignissim.
                            </p>
                            <span class="ff-right"><i class="fas fa-quote-right fas-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="partner">
        <div class="container">
            <div class="owl-carousel five-slider">
                <div class="item1">
                    <img src="~/assets/images/1.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/2.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/3.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/4.png"
                         alt="">
                </div>
                <div class="item1">
                    <img src="~/assets/images/5.png"
                         alt="">
                </div>
            </div>
        </div>
    </section>
</main>

